* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

#icons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

#icons li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 80px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#icons li i {
    font-size: 25px;
    margin-bottom: 10px;
}

.red {
    color: #ff0040;
}

.blue {
    color: #2c73f8;
}

.green {
    color: #22d45d;
}

.search {
    height: 60px;
    width: 100%;
    background: #00aff5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.search label {
    margin-right: 15px;
}