* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#icons {
    list-style: none;
}

.red {
    color: #ff0040;
}

.blue {
    color: #2c73f8;
}

.green {
    color: #22d45d;
}